@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none;
}

:root {
  --fs-400: clamp(3rem, 12vw + 1rem, 6.5rem);
  --fs-600: clamp(2rem, 6vw + 1rem, 4rem);
  --fs-800: clamp(1rem, 6vw + 0.5rem, 3rem);
  --fs-900: clamp(1rem, 4vw + 0.5rem, 2rem);
  --fs-1000: clamp(1rem, 1vw + 0.25rem, 1.5rem);
  --fs-1100: clamp(1rem, 1vw + 0.25rem, 1rem);
  --fs-1200: clamp(0.75rem, 1vw + 0.25rem, 0.8rem);
  --font: "Poppins", sans-serif;
  --secondary-dark: #ed6a5aff;
  --secondary: #03dac5;
  --primary: #bb86fc;
  --background: #121212;
  --overlay-5: rgb(25, 25, 25);
  --overlay-7: rgb(35, 35, 35);
  --overlay-9: rgba(45, 45, 45);
  --overlay-12: rgba(255, 255, 255, 0.12);
  --overlay-16: rgba(255, 255, 255, 0.16);
  --bs: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  --toastify-color-info: #3498db;
  --toastify-color-success: #5ca4a9ff;
  --toastify-color-warning: #f4f1bbff;
  --toastify-color-error: #ed6a5aff;
  --toastify-icon-color-info: var(--toastify-color-info);
  --toastify-icon-color-success: var(--toastify-color-success);
  --toastify-icon-color-warning: var(--toastify-color-warning);
  --toastify-icon-color-error: var(--toastify-color-error);
}

body {
  font-family: var(--font);
  font-size: (--fs-600);
  -webkit-font-smoothing: subpixel-antialiased;
  color: white;
  background-color: var(--background);
}

a {
  text-decoration: none;
}

a:focus {
  outline: none;
}

.container {
  margin: auto;
  padding: 0 2rem;
  max-width: 2000px;
}

.page-container {
  padding: 2rem;
  min-height: 100vh;
}

.btn {
  box-shadow: var(--bs);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  display: inline-block;
  border: none;
  font-family: inherit;
  cursor: pointer;
  text-decoration: none;
}

button:hover {
  transform: scale(1.05);
  opacity: 0.9;
}

button:focus {
  outline: none;
}

.icon {
  color: var(--secondary);
}

img {
  aspect-ratio: 1/1;
  height: 100%;
  width: auto;
}

li {
  list-style-type: none;
}

h1 {
  font-size: var(--fs-400);
  line-height: 5rem;
}

h2 {
  font-size: var(--fs-600);
  line-height: 4rem;
}

h3 {
  font-size: var(--fs-800);
  line-height: 2.5rem;
}

h4 {
  font-size: var(--fs-900);
  line-height: 2.5rem;
}

h5 {
  font-size: var(--fs-1000);
}

p {
  font-size: var(--fs-1100);
}

.link {
  text-decoration: none;
  color: white;
}

.heading {
  font-size: 250px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}

.menu {
  display: flex;
  gap: 2rem;
}

.menu ul {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: var(--fs-1200);
  font-weight: 600;
  letter-spacing: 3px;
}

.menu li:hover {
  color: var(--secondary);
  cursor: pointer;
}

.resume {
  background-color: transparent;
  color: var(--primary);
  border: 2px solid var(--primary);
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
}

.contact-section a {
  width: 100%;
}

.contact-resume {
  background-color: transparent;
  color: var(--primary);
  border: 2px solid var(--primary);
  padding: 0.5rem 1.5rem;
  font-size: var(--fs-1000);
  width: 100%;
  padding: 1rem 3rem;
}

.mobile-menu-icon {
  z-index: 2;
  height: 50px;
  width: 50px;
  color: white;
}

.mobile-menu-icon:hover {
  cursor: pointer;
}

.icon-div {
  z-index: 4;
}

.mobile-menu-container {
  background-color: var(--secondary);
  color: white;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.mobile-menu-item {
  font-size: var(--fs-800);
  font-weight: 500;
}

.mobile-resume {
  background-color: transparent;
  color: white;
  border: 3px solid white;
  padding: 0.5rem 1.5rem;
  font-size: var(--fs-800);
  font-weight: 500;
  box-shadow: none;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 6rem);
}

.cta-container {
  margin-bottom: 2rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 70%;
  transform: translateY(-4rem);
}

.cta-container span {
  color: var(--secondary);
  position: absolute;
  margin-left: 1rem;
}

.cta-container p {
  font-size: var(--fs-1000);
  margin: 2rem 0;
}

.cta-container h1 {
  font-size: var(--fs-600);
}

.name {
  color: var(--secondary);
}

.cta-btn {
  padding: 1rem 3rem;
  max-width: 20rem;
  background-color: transparent;
  color: var(--primary);
  border: 2px solid var(--primary);
  font-size: var(--fs-1000);
}

.tools {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 18rem));
  gap: 2rem;
  padding: 4rem 0;
  border-radius: 10px;
  justify-content: center;
}

.tool-container {
  background-color: var(--overlay-5);
  display: flex;
  align-items: center;
  height: 6rem;
  width: 18rem;
  border-radius: 10px;
  padding: 1rem;
}

.tools-container {
  position: relative;
  margin-top: 100px;
}

.tools-section-header {
  margin-bottom: 1rem;
  letter-spacing: 5px;
  text-transform: uppercase;
  position: absolute;
  z-index: -2;
  color: var(--overlay-9);
  top: -30px;
  left: 30px;
}

.tool-container p {
  text-align: center;
  width: 100%;
  font-size: var(--fs-1000);
}

/**** About ****/

.about-me {
  width: 70%;
  margin: 300px auto 500px;
  position: relative;
}

.about-section-header {
  margin-bottom: 1rem;
  letter-spacing: 5px;
  text-transform: uppercase;
  position: absolute;
  z-index: -1;
  color: var(--overlay-9);
  top: -50px;
  left: -200px;
}

.about-me p {
  font-size: var(--fs-1100);
}

.about-me-container {
  display: flex;
  align-items: center;
  margin: auto;
  gap: 2rem;
}

.about-text-container {
  flex: 1;
}

.about-image {
  height: 20rem;
  width: 20rem;

  position: relative;
}

.about-image::after {
  content: "";
  position: absolute;
  height: 20rem;
  width: 20rem;
  border: 2px solid var(--secondary);
  top: 20px;
  right: -20px;
  z-index: -1;
  border-radius: 15px;
}

.about-image img {
  height: 100%;
  border-radius: 15px;
  object-fit: cover;
}

/**** Card ****/

.projects-container {
  margin: 0 auto 200px;
  position: relative;
}

.projects-section-header {
  margin-bottom: 1rem;
  letter-spacing: 5px;
  text-transform: uppercase;
  position: absolute;
  z-index: -1;
  color: var(--overlay-9);
  top: -70px;
  left: -180px;
}

.project-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 20px;
  justify-items: center;
  margin-bottom: 500px;
}

.card {
  border-radius: 15px;
  height: 450px;
  width: 320px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  transition: height 0.25s ease;
  z-index: 2;
}

.card-image {
  height: 100%;
}

.card:hover {
  transform: translateY(-5px);
  background-color: var(--overlay-7);
  height: 80vh;
  width: 400px;
  z-index: 4;
}

.card-text {
  padding: 20px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(2px) brightness(10%);
  height: 290px;
  margin: auto 0;
}

.card-text h5 {
  text-align: center;
  color: var(--secondary);
}

.card-text > p {
  overflow: hidden;
  height: 70px;
  font-size: var(--fs-1100);
  margin: auto 0;
}

.card-btn {
  background-color: transparent;
  color: var(--primary);
  border: 2px solid var(--primary);
  font-family: inherit;
  border-radius: 5px;
  padding: 4px;
  margin: 10px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
}

.card-tools {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0 15px;
  color: var(--secondary);
}

.card-tools p {
  font-size: var(--fs-1200);
}

.card-links {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.card-icon {
  color: var(--primary);
}

/***** Article *****/

.articles-container {
  padding: 2rem;
  margin: 0 auto;
  position: relative;
}

.articles-section-header {
  margin-bottom: 1rem;
  letter-spacing: 5px;
  text-transform: uppercase;
  position: absolute;
  z-index: -1;
  color: var(--overlay-9);
  top: -50px;
  left: 20px;
}

.article-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 20rem));
  justify-content: center;
  gap: 2rem;
}

.article-card {
  display: flex;
  flex-direction: column;

  height: 25rem;
  width: 20rem;
  background-color: var(--overlay-5);
  border-radius: 10px;
  padding: 2rem;
  transition: transform 0.25s ease;
}

.article-card:hover {
  transform: translateY(-5px);
  background-color: var(--overlay-7);
}

.article-card h5 {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--secondary);
}

.article-card p {
  font-size: var(--fs-1100);
}

.article-container {
  max-width: 1200px;
  margin: auto;
}

.article-container h1 {
  text-align: center;
  margin: 4rem 0;
  line-height: 8rem;
  color: var(--secondary);
}

.article-container h2 {
  color: var(--primary);
  margin-bottom: 2rem;
}

.article-container p {
  font-size: var(--fs-1000);
  margin: 2rem 0;
}

.article-container li {
  list-style-type: decimal;
  font-size: var(--fs-1000);
  margin-bottom: 1rem;
}

.article-container a {
  color: var(--secondary);
}

.helpful-links {
  color: var(--secondary);
  margin-bottom: 2rem;
}

.article-container span {
  color: var(--secondary);
}

/**** Contact ****/

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 500px auto 200px;
  text-align: center;
  position: relative;
}

.contact-section-header {
  margin-bottom: 1rem;
  letter-spacing: 5px;
  text-transform: uppercase;
  position: absolute;
  z-index: -1;
  color: var(--overlay-9);
  top: -60px;
  line-height: 150px;
}

.contact-section p {
  margin: 4rem 0;
  font-size: var(--fs-1000);
}

@media screen and (max-width: 1660px) {
  .projects-container {
    width: 80%;
  }
}

@media screen and (max-width: 810px) {
  .project-card-container {
    margin-bottom: 200px;
  }

  .card {
    border-radius: 15px;
    height: 400px;
    width: 320px;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
  }

  .card-text {
    padding: 20px;
    z-index: 5;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(2px) brightness(20%);
  }
  .about-me h2 {
    text-align: center;
    margin-bottom: 2rem;
  }

  .about-image {
    margin: auto;
  }

  .about-me-container {
    flex-direction: column;
  }

  .contact-section {
    width: 80%;
  }
}

@media screen and (max-width: 630px) {
  /**** Headings ****/

  .heading {
    font-size: 100px;
  }

  .tools-section-header,
  .about-section-header,
  .projects-section-header,
  .articles-section-header,
  .contact-section-header {
    position: relative;
    text-align: center;
    margin: 0 auto;
    top: 0;
    left: 0;
    transform: translateY(10px);
  }

  .projects-section-header {
    transform: translateY(10px);
  }

  .about-section-header {
    transform: translateY(40px);
  }

  .articles-section-header {
    transform: translateY(10px);
  }

  .contact-section-header {
    transform: translateY(90px);
  }

  /**** Projects ****/

  .project-card-container {
    margin-bottom: 200px;
  }

  .card-text p {
    text-align: center;
  }
  .article-container h1 {
    line-height: 6rem;
  }

  .container {
    padding: 1rem;
  }
  .nav-container {
    height: 4rem;
    padding: 0.5rem 0;
    margin-bottom: 4rem;
  }
  h1 {
    line-height: 3rem;
  }

  .cta-container {
    width: 100%;
  }

  .cta-container span {
    display: block;
    margin-left: 0px;
  }

  .cta-container p {
    margin-top: 4rem;
  }

  .cta-btn {
    max-width: 100%;
  }

  .tools {
    grid-template-columns: repeat(auto-fit, minmax(18rem, 18rem));
    gap: 1rem;
    padding: 0;
  }

  .tool-container {
    height: 4rem;
    width: 18rem;
    padding: 0.5rem;
  }

  .about-me {
    margin: 200px 0 250px;
    width: 100%;
  }

  /**** Project Section *****/

  .projects-container {
    width: 100%;
    margin: 8rem 0;
  }

  .contact-section p {
    margin: 2rem 0;
  }

  .contact-section {
    width: 100%;
    margin: 200px 0;
  }

  .resume {
    width: 100%;
    padding: 1rem 3rem;
  }

  .contact-section a {
    width: 100%;
  }

  .article-card-container {
    justify-items: center;
    gap: 1rem;
  }

  .article-card {
    justify-content: center;
    align-items: center;

    height: 4rem;
    width: 18rem;

    border-radius: 10px;
    padding: 0.5rem;
  }

  .article-card p {
    display: none;
  }

  .article-card h5 {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 420px) {
  .article-container h1 {
    line-height: 4rem;
  }

  .heading {
    font-size: 50px;
  }
  .tools-section-header,
  .about-section-header,
  .projects-section-header,
  .articles-section-header,
  .contact-section-header {
    position: relative;
    text-align: center;
    margin: 0 auto;
    top: 0;
    left: 0;
    transform: translateY(20px);
  }

  .projects-section-header {
    transform: translateY(20px);
  }

  .about-section-header {
    transform: translateY(60px);
  }

  .articles-section-header {
    transform: translateY(20px);
  }

  .contact-section-header {
    transform: translateY(100px);
  }
}
